.container {
  width: 80%;
  aspect-ratio: 1;
  background: var(--bgcolor);
  position: relative;
}

.model {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  transform-origin: 50% 100%;
  transform: scale(0.915); /* empirical value to make the largest piece 100% container height */
}

.pedestal {
  background: var(--piece-color);
  position: absolute;
  height: 10%;
  width: 60%;
  bottom: 0;
  left: 20%;
  border-radius: 10%/80%;
}

.pedestal-hole {
  background: var(--bgcolor);
  position: absolute;
  height: 2%;
  width: 50%;
  bottom: 4%;
  left: 25%;
  border-radius: 2%/50%;
}

.foot {
  background: var(--piece-color);
  position: absolute;
  height: 8%;
  width: 50%;
  bottom: 10%;
  left: 25%;
  border-radius: 8%/50%;
}

.foot-hole {
  background: var(--bgcolor);
  position: absolute;
  height: 2%;
  width: 40%;
  bottom: 12%;
  left: 30%;
  border-radius: 2%/40%;
}

.body {
  background: var(--piece-color);
  position: absolute;
  height: 50%;
  width: 40%;
  bottom: 18%;
  left: 30%;
  border-radius: 0%;
  clip-path: polygon(
    0% 100%,
    20% 10%,
    80% 10%,
    100% 100%
  );
}

.body-hole {
  background: var(--bgcolor);
  position: absolute;
  height: 50%;
  width: 40%;
  bottom: 18%;
  left: 30%;
  border-radius: 0%;
  clip-path: polygon(
    15% 100%,
    30% 15%,
    70% 15%,
    85% 100%
  );
}

.body-fill {
  position: absolute;
  height: 50%;
  width: 40%;
  bottom: 18%;
  left: 30%;
  border-radius: 0%;
  clip-path: polygon(
    65% 100%,
    55% 0%,
    61% 0%,
    81% 100%
  );
}

.black .body-fill {
    background: var(--bgcolor);
}

.white .body-fill {
    background: var(--piece-color);
}

.shoulder {
  background: var(--piece-color);
  position: absolute;
  height: 18%;
  width: 36%;
  bottom: 50%;
  left: 32%;
  border-radius: 50% 50% 25% 100% / 100% 100% 0% 0% ;
}

.shoulder-hole {
  background: var(--bgcolor);
  position: absolute;
  height: 8%;
  width: 26%;
  bottom: 55%;
  left: 37%;
  border-radius: 50% 50% 28% 100% / 100% 100% 0% 0% ;
}

.shoulder-fill {
  background: var(--piece-color);
  position: absolute;
  height: 8%;
  width: 22%;
  bottom: 55%;
  left: 37%;
  border-radius: 50% 50% 28% 100% / 100% 100% 0% 0%;
}

.pawn .head {
  background: var(--piece-color);
  position: absolute;
  height: 30%;
  width: 30%;
  bottom: 70%;
  left: 35%;
  border-radius: 50%;
}

.pawn .head-hole {
  background: var(--bgcolor);
  position: absolute;
  height: 20%;
  width: 20%;
  bottom: 75%;
  left: 40%;
  border-radius: 50%;
}

.pawn .head-fill {
  background: var(--piece-color);
  position: absolute;
  height: 20%;
  width: 16%;
  bottom: 75%;
  left: 40%;
  border-radius: 50%;
}

/*  KNIGHT */
.knight.container {
  --left: 15.5%;
  --bottom: 39%;
}

.knight .body {
  background: var(--piece-color);
  position: absolute;
  height: 14%;
  width: 40%;
  bottom: 18%;
  left: 30%;
  border-radius: 0%;
  clip-path: polygon(
    0% 100%,
    7% 0%,
    93% 00%,
    100% 100%
  );
}

.upper-body {
  background: var(--piece-color);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -2.5%;
}

.upper-body-fill {
  background: var(--bgcolor);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -2.5%;
}

.eye {
  background: var(--bgcolor);
  position: absolute;
  width: 100%;
  height: 100%;
}

.eye-outline {
  background: var(--piece-color);
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(2.3);
  bottom: -38%;
  left: 6.5%;
}

.mane {
  background: var(--piece-color);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -6%;
  bottom: -4%;
  transform: scale(1.2)
}

.mane-hole {
  background: var(--bgcolor);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -2.5%;
  bottom: 2%;
  transform: scale(0.95);
}

.nose {
  background: var(--piece-color);
  position: absolute;
  width: 18%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: var(--bottom);
  left: var(--left);
}

.nose-hole {
  background: var(--bgcolor);
  position: absolute;
  width: 12%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: calc(var(--bottom) + 3%);
  left: calc(var(--left) + 3%);
}


.nostril {
  position: absolute;
  width: 5%;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 48%;
  left: 20%;
}

.white .nostril {
  background: var(--piece-color);
}

.black .nostril {
  background: var(--bgcolor);
}

.snout {
  background: var(--piece-color);
  position: absolute;
  width: 35%;
  height: 25%;
  border: 1px solid var(--bgcolor);
  left: calc(var(--left) + 2%);
  bottom: calc(var(--bottom) + 7.5%);
  clip-path: polygon(
    0% 14%,
    100% 0%,
    100% 100%,
    0% 75%
  );
  transform: rotate(-50deg);
}

.snout-hole {
  background: var(--bgcolor);
  position: absolute;
  width: 35%;
  height: 15%;
  left: calc(var(--left) + 2%);
  bottom: calc(var(--bottom) + 12.5%);
  clip-path: polygon(
    0% 14%,
    100% 0%,
    100% 100%,
    0% 75%
  );
  transform: rotate(-50deg);
}

.snout-outline {
  background: var(--bgcolor);
  position: absolute;
  width: 43%;
  height: 25%;
  left: calc(var(--left) + 2%);
  bottom: calc(var(--bottom) + 7.5%);
  clip-path: polygon(
    0% 14%,
    100% 0%,
    100% 100%,
    0% 75%
  );
  transform: rotate(-47deg);
}

.face {
  background: var(--piece-color);
  position: absolute;
  width: 30%;
  height: 50%;
  bottom: calc(var(--bottom) + 11%);
  left: calc(var(--left) + 19%);
  clip-path: ellipse(50% 25% at 50%);
}

.face-hole {
  background: var(--bgcolor);
  position: absolute;
  width: 30%;
  height: 50%;
  bottom: calc(var(--bottom) + 11%);
  left: calc(var(--left) + 19%);
  clip-path: ellipse(50% 25% at 50%);
  transform: scale(0.7);
}

.ear.right {
  background: var(--piece-color);
  position: absolute;
  width: 15%;
  aspect-ratio: 1;
  bottom: calc(var(--bottom) + 43%);
  left: calc(var(--left) + 27%);
  clip-path: ellipse(25% 50% at 50% 50%);
}

.ear.left {
  background: var(--piece-color);
  position: absolute;
  width: 15%;
  aspect-ratio: 1;
  bottom: calc(var(--bottom) + 43%);
  left: calc(var(--left) + 34%);
  clip-path: ellipse(25% 50% at 50% 50%);
}

.neck {
  background: var(--piece-color);
  position: absolute;
  width: 25%;
  height: 40%;
  bottom: calc(var(--bottom) + 20%);
  left: calc(var(--left) + 32%);
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  transform: rotate(-60deg);
}

.neck-hole {
  background: var(--bgcolor);
  position: absolute;
  width: 13%;
  height: 30%;
  bottom: calc(var(--bottom) + 20%);
  left: calc(var(--left) + 39%);
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

.white .upper-body-fill {
  background: var(--piece-color);
}

.upper-body-hole {
  background: var(--bgcolor);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -2.8%;
  left: -2%;
  transform: scale(.85);
}

/* BISHOP */
.bishop .head {
  background: var(--piece-color);
  position: absolute;
  height: 30%;
  width: 30%;
  bottom: 70%;
  left: 35%;
  border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
  transform: rotate(-45deg);
}

.bishop .head-hole {
  background: var(--bgcolor);
  position: absolute;
  height: 20%;
  width: 20%;
  bottom: 75%;
  left: 40%;
  border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
  transform: rotate(-45deg);
}

.bishop .head-fill {
  background: var(--piece-color);
  position: absolute;
  height: 20%;
  width: 20%;
  bottom: 74%;
  left: 37%;
  border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
  transform: rotate(-45deg);
}

.black .mouth {
  background: var(--bgcolor);
  position: absolute;
  height: 4%;
  width: 15%;
  bottom: 88%;
  left: 33%;
  transform: rotate(35deg);
}

.white .mouth {
  background: var(--piece-color);
  position: absolute;
  height: 6%;
  width: 11%;
  bottom: 84%;
  left: 40%;
  transform: rotate(35deg);
}

/* ROOK */
.rook .head,
.king .head,
.queen .head {
  background: var(--piece-color);
  position: absolute;
  height: 18%;
  width: 38%;
  bottom: 70%;
  left: 31%;
  border-radius: 25% 100% 50% 50% / 0% 0% 100% 100%;
}

.rook.black .head-hole,
.king.black .head-hole,
.queen.black .head-hole {
  background: var(--bgcolor);
  position: absolute;
  height: 8%;
  width: 28%;
  bottom: 74%;
  left: 36%;
  border-radius: 25% 100% 50% 50% / 0% 0% 100% 100%;
}

.rook.white .head-hole,
.king.white .head-hole,
.queen.white .head-hole {
  background: var(--bgcolor);
  position: absolute;
  height: 9%;
  width: 28%;
  bottom: 74%;
  left: 36%;
  border-radius: 25% 100% 50% 50% / 0% 0% 100% 100%;
}


.rook .head-fill,
.king .head-fill,
.queen .head-fill {
  background: var(--piece-color);
  position: absolute;
  height: 8%;
  width: 24%;
  bottom: 74%;
  left: 36%;
  border-radius: 25% 100% 50% 50% / 0% 0% 100% 100%;
}

.battlement {
  background: var(--piece-color);
  position: absolute;
  bottom: 88%;
  width: 38%;
  height: 8%;
  left: 31%;
  clip-path: polygon(
    0% 0%,
    15% 0%,
    15% 100%,
    30% 100%,
    30% 0%,
    70% 0%,
    70% 100%,
    85% 100%,
    85% 0%,
    100% 0%,
    100% 100%,
    0% 100%
  );
}

.battlement-hole {
  background: var(--bgcolor);
  position: absolute;
  width: 6%;
  height: 10%;
  bottom: 82%;
  left: 47%
}

/* KING */
.king .crown {
  background: var(--piece-color);
  position: absolute;
  bottom: 88%;
  width: 38%;
  height: 10%;
  left: 31%;
  border-radius: 35% 35% / 100% 100% 0 0;
}

.king .crown-hole {
  background: var(--bgcolor);
  position: absolute;
  bottom: 88%;
  width: 6%;
}

.king .crown-hole.left {
    left: 37%;
    border-radius: 80% 50% / 100% 100% 0 0;
    height: 4%;
}

.king .crown-hole.center {
    left: 47%;
    border-radius: 80% 80% / 100% 100% 0 0;
    height: 6%;
}

.king .crown-hole.right {
   left: 57%;
    border-radius: 50% 80% / 100% 100% 0 0;
    height: 4%;
}

.king .cross {
  background: var(--piece-color);
  position: absolute;
  height: 10%;
  width: 10%;
  bottom: 98%;
  left: 45%;
  clip-path: polygon(
    25% 0%,
    75% 0%,
    75% 25%,
    100% 25%,
    100% 75%,
    75% 75%,
    75% 100%,
    25% 100%,
    25% 75%,
    0% 75%,
    0% 25%,
    25% 25%
  );
}

/* QUEEN */
.queen .crown {
  background: var(--piece-color);
  position: absolute;
  bottom: 88%;
  width: 42%;
  height: 10%;
  left: 29%;
  clip-path: polygon(
    0% 20%,
    10% 20%,
    25% 100%,
    30% 100%,
    45% 0%,
    55% 0%,
    70% 100%,
    75% 100%,
    90% 20%,
    100% 20%,
    95% 100%,
    5% 100%
  );
}

.queen .pearl.center {
  background: var(--piece-color);
  position: absolute;
  height: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 100%;
  left: 45%;
}

.queen .pearl.left {
  background: var(--piece-color);
  position: absolute;
  height: 8%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 97%;
  left: 25%;
}

.queen .pearl.right {
  background: var(--piece-color);
  position: absolute;
  height: 8%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 97%;
  left: 66%;
}

.queen.white .crown-hole {
  background: var(--bgcolor);
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 83%;
  left: 45%;
  clip-path: polygon(
    50% 10%,
    100% 100%,
    0% 100%
  );
}

.queen.white .pearl-hole.center {
  background: var(--bgcolor);
  position: absolute;
  height: 3%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 103.5%;
  left: 48.5%;
}

.queen.white .pearl-hole.left {
  background: var(--bgcolor);
  position: absolute;
  height: 2%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 100%;
  left: 28%;
}

.queen.white .pearl-hole.right {
  background: var(--bgcolor);
  position: absolute;
  height: 2%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 100%;
  left: 69%;
}