:root {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

    --white: white;
	--black: #000000;
	--blue: #264653;
	--teal:	#2A9D8F;
	--yellow: #E9C46A;
	--orange: #F4A261;
    --red: #E76F51;

    --size: 5rem;
}

body, html {
    margin: 0;
    padding: 0;
}

#app-container {
    background: var(--blue);
    display: grid;
    place-items: center;
    height: 100vh;
}

#border {
    grid-area: 1 / 1 / 1 / 1;
    height: calc(9 * var(--size));
    aspect-ratio: 1;
    background: var(--red);
    border-radius: calc(0.05 * var(--size));
    grid-template: repeat(8, var(--size)) / repeat(8, var(--size));
}

#chessboard {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    grid-template: repeat(8, var(--size)) / repeat(8, var(--size));
}

button {
    font-size: calc(.6 * var(--size));
    font-family: 'Noto Sans Symbols 2', sans-serif;
    color: var(--blue);
}

.tile {
    border: none;
    display: grid;
    place-items: center;
}


.⬜ {
    background: var(--white);
}

.⬛ {
    background: var(--orange);
}

.selected {
    animation: throb 1s infinite;
}

@keyframes throb {
    50% {font-size: calc(var(--size) * 0.75);}
}

#labels {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    grid-template: repeat(8, var(--size)) / repeat(8, var(--size));
}

.label {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    margin: 2px;
}
