:root {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

    --white: white;
	--black: #000000;
	--blue: #264653;
	--teal:	#2A9D8F;
	--yellow: #E9C46A;
	--orange: #F4A261;
    --red: #E76F51;

    --size: 5rem;
    --white-tile: var(--white);
    --black-tile: var(--orange);
}

body, html {
    margin: 0;
    padding: 0;
}

#app-container {
    background: var(--blue);
    display: grid;
    place-items: center;
    height: 100vh;
}

#indicator {
    grid-area: 1 / 1 / 1 / 1;
    height: calc(6.5 * var(--size));
    width: calc(.5 * var(--size));
    margin-right: calc(10 * var(--size));
}

.signal {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    background: var(--yellow);
    border-radius: 50%;
    top: calc(6 * var(--size));
    transition: 0.5s;
    /* animation: bounce 1s ease-out infinite; */
}

.move {
    top: 0;
    transition: 0.5s;
}

@keyframes bounce {
    90% {transform: translateX(calc(-0.2 * var(--size)));}
}

.check {
    background: var(--red);
}

.promotion-tile {
    display: grid;
    grid-template: repeat(2, calc(.5 * var(--size))) / repeat(2, calc(.5 * var(--size)));
    place-items: center;
    font-size: calc(.4 * var(--size));
    color: var(--blue);
    overflow: hidden;
    z-index: 1;
}

.promotion-tile > button {
    all: unset;
    cursor: pointer;
    justify-self: stretch;
    display: grid;
    place-items: center;
}

.promotion-tile > button:hover {
    background: var(--teal);
}

#border {
    grid-area: 1 / 1 / 1 / 1;
    height: calc(9 * var(--size));
    aspect-ratio: 1;
    background: var(--red);
    border-radius: calc(0.05 * var(--size));
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-template-rows: 1fr 16fr 1fr;
    grid-template-areas:
        ". t ."
        "l . r"
        ". b .";
}

.label {
    font-size: calc(.2 * var(--size));
    font-family: 'Open Sans', sans-serif;
    color: var(--blue);
}

.top {grid-area: t;}
.rgt {grid-area: r;}
.btm {grid-area: b;}
.lft {grid-area: l;}

.letters {
    display: grid;
    grid-template: 1fr / repeat(8, 1fr);
}

.numbers {
    display: grid;
    grid-template: repeat(8, 1fr) / 1fr;
}

.label > * {
    display: grid;
    place-items: center;
}

#chessboard, #promotion {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    grid-template: repeat(8, var(--size)) / repeat(8, var(--size));
}

button {
    font-size: calc(.6 * var(--size));
    /* font-family: 'Noto Sans Symbols 2', sans-serif; */
    color: var(--blue);
}

.tile {
    border: none;
    display: grid;
    place-items: center;
}


.⬜ {
    background: var(--white-tile);
}

.⬛ {
    background: var(--black-tile);
}

.selected {
    animation: throb 1s infinite;
}

@keyframes throb {
    50% {font-size: calc(var(--size) * 0.75);}
}
